:root {
    /*Paleta de colores*/
    --dark-blue: #0A101A;
    --deep-blue: #0C1F34;
    --light-blue: #102945;
    --dark-gray: #B3B3B3;
    --light-gray: #CFCED0;
    --gold: #C18D21;
    --light-gold: #d7a745;

    /*Tipografias*/
    /*Espaciados*/
    --screen-size: 100vh;
    /*Otras variables*/
}